<mat-stepper #appStepper [linear]="true" class="rounded-4 shadow-sm p-3 bg-white mb-4">
  
  <!-- STEP 1: Address -->
  <mat-step [stepControl]="addressForm" label="Address">
    <app-checkout-address 
      [addressForm]="addressForm">
    </app-checkout-address>
  </mat-step>

  <!-- STEP 2: Payment -->
  <mat-step [stepControl]="paymentForm" label="Payment">
    <app-checkout-payment 
      [paymentForm]="paymentForm">
    </app-checkout-payment>
  </mat-step>

  <!-- STEP 3: Review -->
  <mat-step label="Review">
    <app-checkout-review 
      [checkoutForm]="checkoutForm" 
      [isSubmitting]="isSubmitting">
    </app-checkout-review>
  </mat-step>

</mat-stepper>