<div class="container my-4">
  <div class="row">
    <!-- Sidebar: الفلترة والترتيب -->
    <section class="col-md-3">
      <app-shop-filters
        [categories]="categories"
        [shopParams]="shopParams"
        (categoryChanged)="onCategorySelected($event)"
        (sortChanged)="onSortSelected($event)"
      >
      </app-shop-filters>
    </section>

    <!-- Main Content: البحث والمنتجات والباجنيشن -->
    <section class="col-md-9">
      <!-- Header: عدد النتائج وشريط البحث -->
      <app-shop-search
        [totalCount]="totalCount"
        [shopParams]="shopParams"
        (search)="onSearch($event)"
        (reset)="onReset()"
      >
      </app-shop-search>

      <!-- Loading Spinner -->
      <!-- <div *ngIf="isLoading" class="text-center my-5 py-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div> -->

      <!-- Products Grid -->
      <app-product-list
        [products]="products"
        [isLoading]="isLoading"
        (addToCart)="onAddToCart($event)"
        (details)="onDetails($event)"
      >
      </app-product-list>

      <!-- Pagination Component -->
      <div
        class="d-flex justify-content-center mt-4"
        *ngIf="totalCount > 0 && !isLoading"
      >
        <!-- <pagination [totalItems]="totalCount"></pagination> -->
        <div class="row">
          <div class="col-xs-12 col-12">
            <pagination
              [totalItems]="totalCount"
              [(ngModel)]="shopParams.pageNumber"
              (pageChanged)="onPageChanged($event)"
              [itemsPerPage]="shopParams.pageSize"
            ></pagination>
          </div>
        </div>
        <!-- <app-pager
          [totalCount]="totalCount"
          [pageSize]="shopParams.pageSize"
          [pageNumber]="shopParams.pageNumber"
          (pageChanged)="onPageChanged($event)"
        ></app-pager> -->
        <!-- <pagination
          [totalItems]="totalCount"
          [(ngModel)]="shopParams.pageNumber"
          [itemsPerPage]="shopParams.pageSize"
          (pageChanged)="onPageChanged($event)"
          [maxSize]="5"
          [boundaryLinks]="true"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
          class="pagination-sm"
        >
        </pagination> -->
      </div>
    </section>
  </div>
</div>
